section {
  .heading {
    h1,p {
      text-align: center; 
    }
  }
  form {
    text-align: center;
    .form-fields {
      padding: 1%;
      input {
        width: 60%;
        height: 25px;
        border: 1px solid black;
        border-radius: 2px;
        text-indent: 35px;
      }
      span {
        position: relative;
        left: 5%;
      }
    }
    .condition {
      text-align: center;
    }
    .register-button {
      .submit {
        width: 60%;
        height: 35px;
        background: orange;
        border: none;
        margin-left: 5%;
        font-weight: 700;
        border-radius: 2px;
        cursor: pointer;
      }
    }
  }
}

section::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index:-1;
  background-image: url("../images/formbackground.jpg");
  background-size: cover;
  opacity: 0.2;
}

@media screen and (max-width: 767px) {
  section {
    form {
      .form-fields {
        span { 
          left: 25px;
        }
      }
    } 
  } 
  section {
    form {
      .form-fields {
        input {
          width:75%; 
          text-indent: 30px; }
      }
    }
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  section {
    form {
      .form-fields {
        span { 
          left: 25px;
        }
      }
    } 
  } 
  section {
    form {
      .form-fields {
        input {
          width:60%; 
          text-indent: 30px; 
        }
      }
    }
  }
}